@media only screen and (max-width: 600px) {
/*menu*/
.background-text {
    left: -62px;
    bottom: -493px;
    font-size: 8rem;
}
nav .main-menu li a {
    font-size: 2rem;
}
.menu-hacer {
    font-size: 45px;
}

/*hero*/
.product-title {
    font-size: 60px;
}

/*popup-newsletter*/
.pupup-content,
.mop-container {
    width: 90%;
}

/*Portafolio*/
#portfolio {
    font-size: 60px;
}

}