/*=============== VARIABLES CSS ===============*/
:root {
    --panel-width: calc(100% / 6);


/*========== Colores ==========*/
--principal-color: #e0004d;
--segundo-color: #7647c3;
--tercero-color: #1ca2f2;
--cuarto-color: #13c264;
--quinto-color: #fbab15;
--sexto-color: #f65e1d;
--septimo-color: #df1f5a;
--color-obscuro: #212529;
--color-claro: #fff;



/*========== Font and typography ==========*/
--font-principal: 'poppins', sans-serif;
--font-second:'Sacramento', cursive;
--biggest-font-size: 2rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;
--smaller-font-size: .75rem;

/*========== Font weight ==========*/
--font-medium: 400;
--font-bold: 700;

/*========== z index ==========*/
--z-tooltip: 10;
--z-fixed: 100;
}

body{
	font-family: var(--font-principal);
 transition: 0.3s ease-out;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
}

section{
	min-height: 100vh;
	position: relative;
}

.virtual-scroll{
    overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.virtual-scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.virtual-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}




/*=========Botones===========*/

.btn-destacado {
    color: var(--principal-color);
    background-color: var(--color-obscuro);
    display: inline-flex;
    height: 60px;
}

.btn-destacado:hover{
    color: var(--color-claro);
    opacity: .9;
}

a.btn-destacado {
    text-decoration: none !important;
}

.btn-destacado .btn-titulo {
    align-items: center;
    justify-content: center;
}

.btn-destacado .btn-icon {
    height: 100%;
    background-color: #333333;
    min-width: 60px;
    font-size: 1.768rem;
    align-items: center;
    justify-content: center;
}

/*=======Titulos destacados=======*/
h1 span{
    color: var(--principal-color);
}

/*=============== menu ===============*/
.logo-home {
    position: fixed;
    width: 213px;
    height: 50px;
    z-index: 21;
    top: 40px;
    display: flex;
    left: 40px;
    /* background: rgb(255 255 255 / 70%); */
    backdrop-filter: blur(8px);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.nav-icon {
    position: fixed;
    right: 40px;
    top: 40px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1060;
    background: var(--color-obscuro);
    border-radius: 25px;
    /*transform: translate(0%, -25%) !important;*/
}

.header-row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0);
}

.menu-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none; /* if using anchor */
}


.line1,
.line2,
.line3 {
    position: relative;
    width: 14px;
    height: 1px;
    margin: 0.2rem;
    background: var(--color-claro);
    pointer-events: none;
}


.exit{
    position: absolute;
    cursor: pointer;
    font-size: 25px;
    right: 50px;
    top: 50px;
}



.menu-hacer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 70px;
    line-height: 1em;
    text-transform: capitalize;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}



li.hacer {
    color: var(--color-obscuro);
    border: none;
    background-color: transparent;
    font-weight: 100;
    line-height: 1em;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}



.fullpage-menu {
    z-index: 3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
}

.fullpage-menu-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 100px 30px;
    overflow: hidden;
}

.bg-menu {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /*background: rgba(0, 0, 0, 0.7);*/
    backdrop-filter: blur(15px);
    opacity: 0;
}

.background-text {
    left: -22px;
    bottom: -84px;
    position: absolute;
    font-size: 13rem;
    font-weight: 600;
    color: rgb(0 0 0 / 50%);
    user-select: none;
    z-index: 100;
}
.menu-izq{
    opacity: 0;
    z-index: 10;
}

.menu-izq ul li::marker {
    color: transparent;
}

.menu-izq h2 {
    color: var(--principal-color);
}
.redes-sociales i {
    font-size: 30px;
    color: #fff;
}

nav  {
    position: relative;
    z-index: 4;
}

nav .main-menu ul {
    list-style-type: none;
}

nav .main-menu li {
    overflow: hidden;
}

nav .main-menu li + li {
    margin-top: 5px;
}

nav .main-menu li a {
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    letter-spacing: 5px;
    color: var(--color-obscuro);
    font-size: 3rem;
    transition: all 0.2s ease-in-out;
}


nav .main-menu  li a span {
    position: relative;
    display: block;
}

nav .main-menu li a span:before {
    content: attr(data-clip);
    font-size: 20px;
    font-weight: 300;
    color: var(--principal-color);
    position: absolute;
    left: 100%;
    bottom: 0%;
    z-index: 1;
    height: 0%;
    overflow: hidden;
    transition: 400ms linear 0s;

}

nav .main-menu li:hover a span:before{
    height: 100%;
}

/*========= hero =========*/

.carousel-indicators {
    margin: 0;
    display: block;
    top: 50%;
    right: 40px;
    left: unset;
    transform: translateY(-50%);
}

.carousel-indicators li {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: var(--principal-color);
}

.slide-number {
    bottom: 20px;
    right: 40px;
}

.py-6 {
    padding: 3.4rem;
}

.text-white-50 {
    color:rgba(255,255,255,.5)!important;
}

.poster {
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.design{
    background-image: url('../images/01.jpg');
}

.redes_sociales{
        background-image: url('../images/02.jpg');

}
.web{
        background-image: url('../images/03.jpg');

}
.video_juegos{
        background-image: url('../images/04.png');

}
.ar_vr{
        background-image: url('../images/05.jpg');
}


/*============Instagram celular=============*/
.instagra-1{
    display: inline-grid;
}
.post-container{
    position: relative;
}
.post-insta {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}

.tit-marca {
    width: 50vw;
    padding: 100px 25px;
}

.tit_promo {
    position: absolute;
    top: 15px;
    font-size: 1.5rem;
    left: 190%;
    right: 0;
    text-align: center;
}


h2.promo {
    position: absolute;
    top: 20%;
    font-weight: 600;
    font-size: 104px;
    left: 0px;
    text-align: center;
}

.rec_promo {
    opacity: 0;
    position: absolute;
    display: flex;
    border: 2px solid #363636;
    align-items: center;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    bottom: 12%;
    right: 0;
    width: 100%;
    justify-content: center;
}

.rec_promo  p {
    opacity: 0;
    margin-bottom: 0;
}

.post-insta small {
  position: absolute;
    font-size: 60%;
    font-weight: 400;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 0;
    text-align: center;
}




.rec_promo {
    opacity: 0;
    position: absolute;
    display: flex;
    border: 2px solid #363636;
    align-items: center;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    bottom: 12%;
    right: 0;
    width: 100%;
    justify-content: center;
}

.tit_promo {
    position: absolute;
    top: 15px;
    font-size: 1.5rem;
    left: 110%;
    right: 0;
}
.conte-cel {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    position: absolute;
}

.cel-insta {
    translate: 0 668px;
    position: absolute;
    width: 267px;
    z-index: -10;
}



/*=============== Servicios ===============*/



.caja-serv {
    margin: 10px 0;
    position: relative;
    min-height: 280px;
    background: var(--color-container);
   /* border-radius: 7px;*/
    overflow: hidden;
}

.caja-serv:hover .conte-serv {
    transform: scale(1);
    transition-delay: 0.25s;
}
.caja-serv:hover .icon-serv {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 30px;
    left: calc(50% - 40px);
    transition-delay: 0s;
}
.caja-serv:hover .icon-serv ion-icon {
    font-size: 2rem;
    transition-delay: 0s;
}
.icon-serv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: /*var(--i)*/ var(--color-obscuro);
    transition: 0.5s;
    z-index: 2;
    transition-delay: 0.25s;
}
.icon-serv ion-icon {
    font-size: 4rem;
    color: var(--i);
    font-weight: bold;
    transition: 0.5s;
    transition-delay: 0s;
}
.conte-serv {
    position: relative;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}
.title-serv {
    margin: 10px 0 5px 0;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--i);
}
.descripcion-serv {
    font-size: 0.95rem;
    font-weight: 400;
    padding-top: 10px;
    color: var(--text-dark);
}

.conte-serv a {
    color: var(--text-dark) !important;
}

.conte-serv i {
    font-size: 25px;
}

/*=============== Portafolio ===============*/
  #port1{
  align-items:center;
  display:flex;
  min-height:100vh;
  justify-content:center;
  text-align:center;
  padding-top:9px;
  max-height:100%;
  overflow: hidden;
}

#portfolio{
  font-size:200px;
  font-weight: 600;
}

section#sectionGeneral {
    background-color: #212529;
    position: relative;
}

.item-port{
    width: 100vh;
    min-height: 50vh;
}
#sectionGeneral {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}


.pin-wrap {
  height: 100vh;
  padding: 50px;
}
.pin-wrap > * {
  max-width: 100vw;
  padding: 0 3vw;
}

.item-port{
    color: #fff;
}

.identidad{
    display: inline-grid;
    width: 45vw;
    align-items: center;
}

.item-port h1{
    font-size: 2.9rem;
    font-weight: 600;
}

.avance {
    position: absolute;
    bottom: 3%;
    left: 6.8%;
    color: #fff;
    display: inline-flex;
}
.right,
.left {
    height: 50px;
    width: 50px;
    background-color: #1a1a1a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    cursor: pointer;
}

.avance i {
    font-size: 20px;
}

.avance i:hover{
    color: var(--principal-color);
}

.portfolio__img{
    position: relative;
    overflow: hidden;
}

.portfolio_1{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.3);
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .3s;
}
.portfolio__img:hover .portfolio_1{
    bottom: 0;
}
/*Vista del portafolio*/

.back-porta {
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 2%;
    top: 3%;
    color: var(--color-claro);
}

.back-porta a{
    color: var(--color-claro);
}

.back-porta a:hover{
    color: var(--principal-color);
}
.clb-back-link-caption {
    opacity: 0;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
}
/* over afecta al segundo elemento*/
.back-porta .left:hover ~ .clb-back-link-caption{
       opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.c-controls {
    position: fixed;
    bottom: 3%;
    right: 3%;
    z-index: 10;
    
}

.to-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-obscuro);
    color: #fff;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

/*Animacion cambio de pantalla*/


.loader{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1000;
    width: 100%;
    height: 100vh;
}
.page-transition{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: var(--principal-color);
    width: 100%;
    height: 100%;
}
.page-main{
    opacity: 0;
}

/*=====Nosotros=====*/


#nosotros{
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
}
.conocenos a{
    color: var(--principal-color);
    text-decoration: none;
}
.conocenos i{
    color: var(--principal-color);
    text-decoration: none;
}


 .big-name {
   position: absolute;
  /* top: 0vh;*/
   left: 0;
   width: 100%;
   padding-bottom: 0px;
}


 .big-name .name-h1 {
   position: relative;
   display: flex;
   width: 100%;
}

 .big-name .name-wrap {
   position: relative;
   display: flex;
   align-items: center;
}

 .big-name .name-wrap .spacer {
   padding: 0 3vw;
}

.big-name h1 {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-obscuro);
    line-height: 1;
    font-size: 60px !important;
    white-space: nowrap;
    pointer-events: none;
    margin: 0;
    padding: 0;
}


/*=======Contacto======*/
.card-map{
    height: 100vh;
    background-image: url('../images/inno-map.png');
    background-size: cover;
    background-position: 20% 80%;
}
.card-contact {
    right: 10%;
    background-color: var(--color-claro);
    top: 0%;
    color: var(--color-obscuro);
    width: 440px;
    height: 100%;
    text-align: left;
    -webkit-box-shadow: 0 0 5px 1px rgb(112 112 112 / 30%);
    box-shadow: 0 0 5px 1px rgb(112 112 112 / 30%);
}

.card-contact .redes a {
    padding: 10px;
    text-decoration: none !important;
}
.card-contact i{
    color: var(--principal-color);
    font-size: 30px;
}

.marker {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pin {
    width: 10px;
    height: 10px;
    position: relative;
    background: var(--principal-color);
    border-radius: 50%;
    z-index: 2;
}

.pin-effect {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    display: block;
    background: #e0004d96;
    border-radius: 50%;
    opacity: 0;
    animation: pulsate 2400ms ease-out infinite;
    z-index: 1;

}

@keyframes pulsate {
    0% {
    transform: scale(0.1);
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
    100% {
    transform: scale(1.2);
    opacity: 0;
    }
}

.footer-legal {
    max-height: 40px !important;
    height: 40px !important;
    color: var(--color-claro);
    background-color: var(--color-obscuro);
    text-align: center;
    display: flex;
    align-items: center;
}
.footer-legal .col-md-6,
.footer-legal .col-md-3{
    background-color: var(--color-obscuro);
}

.footer-legal a{
    color: var(--color-claro);
    text-decoration: none;
}


/*=============== Flotante ===============*/
.launcher-container {
    display: none;
    z-index: 1060;
    position: absolute;
    right: 100px;
    top: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--color-obscuro);
    box-shadow: 0 5px 40px rgba(0,0,0,0.16);
    cursor: pointer;
    /*transform: translate(0%, -25%);*/
}



.launcher-open-icon, 
.launcher-close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    transition: transform 0.16s linear, opacity 0.08s linear, 
    -webkit-transform 0.16s linear;
}

.launcher-open-icon i, 
.launcher-close-icon i {
    font-size: 0px;
    color: var(--color-claro);
}

.info-launcher-container {
    opacity: 0;
    color: white;
    padding: 0.5rem 0.4rem;
    top: 40px;
    z-index: 214;
    position: fixed;
    right: 160px;
    width: 0px;
    height: 0px;
    background-color: var(--principal-color);
    box-shadow: 0 5px 40px rgba(0,0,0,0.16);
    /*transform: translate(0%, -25%) !important ;*/
}

.info-launcher-container p {
    font-size: 0;
}

.mop-container {
    background-color: var(--color-claro);
    z-index: 214;
    position: fixed;
    right: 170px;
    bottom: calc(-37px + 80px);
    width: 400px;
    min-height: 250px;
    max-height: 704px;
    display: none;
    padding: 30px;
    opacity: 0;
    box-shadow: rgb(0 0 0 / 20%) 10px 10px 20px;
}

/*=============== Popup-up sucribete ===============*/
.modal-botom {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: var(--bs-modal-padding);
    background-color: var(--color-obscuro);
    color: var(--color-claro);
}

.modal-dialog {
    max-width: 400px !important;
}

.modal-close {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 16px 16px 0 16px;
}

.form-check-input:checked {
    background-color: var(--principal-color);
    border-color: var(--principal-color);
}

.form-check-input[type=checkbox] {
    border-radius: 25px !important;
}

.alta,
.form-baja
 {
    display: none;
    opacity: 0;
    cursor: pointer;
}
.baja,
.form-alta{
    display: block;
    opacity: 1;
    cursor: pointer;
}

#exampleModalToggle .modal-content{
    border: var(--color-claro) !important; 
    border-radius: 0px !important;
}

/*=============== Form ===============*/
.inputs{
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.inputs input{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #f7f7f7;
    color: var(--color-obscuro);
    outline: none;
    font-size: 16px;
    transition: 0.3s;
    padding-left: 5px;

}
.inputs input:focus{
    border-color: crimson;
}
.inputs label{
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    font-size: 16px;
    margin-left: 5px;
    transition: 0.3s;
    margin-bottom: 0;
    font-weight: var(--font-bold);

}


.formContact input {
    height: 40px;
    background: var(--principal-color);
    border: transparent;
    color: #fff;
}

.inputs input:focus ~ label,
.inputs input:valid ~ label{
    transform: translateY(-28px);
    color: var(--principal-color);
}



@media screen and (max-width: 720px){

.c-controls {
    display: none;   
}
.launcher-container {
    right: 40px;
    top: 90% !important;
}

.info-launcher-container {
    top: 90%;
    right: 100px;
}

.mop-container {
    right: 2px;
    left: 2px;
    bottom: calc(78px + 80px);
    width: 99%;
}

.hero-content {
    padding: 250px 10px;
    min-height: 600px;
}

.carousel {
    display: none;
}

#portfolio {
    font-size: 70px;
}

.identidad {
    width: 100vw;
}
.big-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: calc(var(--gap-padding) * 1.25);
}

.card-map {
    background-position: -120px -300px;
}

.marker {
    top: 13%;
    left: 30%;
}

.card-contact {
    right: 5%;
    top: 28%;
    width: 90%;
    height: auto;
}

}

